html {
  font-size: 18px;
  line-height: 1.4;
}

body {
  font-family: Helvetica;
}

.site-container {
  width: 960px;
  margin: 0 auto;
}

.main-banner {
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 540px;
  height: 30rem;
}

header {
  position: relative;
  top: 18px;
  top: 1rem;
  padding-top: 18px;
  padding-top: 1rem;
  padding-bottom: 18px;
  padding-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: cadetblue;
  color: white;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  margin-left: 36px;
  margin-left: 2rem;
}

.logo img {
  height: 27px;
  height: 1.5rem;
  display: inline;
  margin-right: 18px;
  margin-right: 1rem;
}

.logo span {
  color: white;
  font-size: 18px;
  font-size: 1rem;
}

nav {
  display: inline;
  padding-top: 4.5px;
  padding-top: 0.25rem;
}

nav span {
  margin-right: 36px;
  margin-right: 2rem;
}

a {
  color: white;
  text-decoration: none;
}

.menu-link {
  display: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.banner {
  background-color: white;
  padding: 13.5px 90px;
  padding: 0.75rem 5rem;
  display: inline-block;
  margin-top: 180px;
  margin-top: 10rem;
  margin-right: -36px;
  margin-right: -2rem;
  line-height: 43.199px;
  line-height: 2.4rem;
}

h1 {
    font-size: 36px;
    font-size: 2rem;
    font-weight: bold;
    margin: .67em 0;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90px;
  width: 5rem;
  height: 144px;
  height: 8rem;
  margin: 54px;
  margin: 3rem;
}

.service-img {
  width: 63px;
  width: 3.5rem;
}

.service-item img {
  max-width: 100%;
  height: auto;
}

.service-item span {
  text-align: center;
}

.company-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 35%;
  margin-left: 5%;
}

.item {
  padding: 9px 22.5px;
  padding: 0.5rem 1.25rem;
  background-color: cadetblue;
  color: white;
  font-weight: bold;
  font-size: 18px;
  font-size: 1rem;
  width: 180px;
  width: 10rem;
}

p {
  padding-top: 18px;
  padding-top: 1rem;
  padding-bottom: 90px;
  padding-bottom: 5rem;
}

.footer-content {
  background-color: azure;
  padding-top: 72px;
  padding-top: 4rem;
  padding-bottom: 72px;
  padding-bottom: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-content img {
  height: 27px;
  height: 1.5rem;
  margin-left: 72px;
  margin-left: 4rem;
  margin-right: 18px;
  margin-right: 1rem;
}

@media only screen and (max-width: 768px) {

  .site-container {
    width: 100%;
  }

  header {
    top: 0;
  }

  .main-banner {
    height: 22rem;
  }

  .banner {
    padding: 0.75rem 4rem;
    margin-top: 5rem;
    margin-right: 2rem;
    line-height:1.2rem;
  }

  h1 {
    font-size: 1.33rem;
  }

  .company-info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer-content {
    padding-left: 0;
  }
}

@media only screen and (max-width: 480px) {

  .main-banner {
    height: 17rem;
    background-position: 20%;
  }

  .logo span {
    display: none;
    text-align: center;
  }

  .desktop-link {
    display: none;
  }

  .menu-link {
    display: block;
  }

  .banner {
    width: 100%;
    text-align: center;
    margin-right: 0;
    margin-top: 9rem;
    padding: .25rem 0;
  }

  h1 {
    font-size: 1rem;
  }

  .services {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
    margin-top: 3.77rem;
    margin-bottom: 2.23rem;
  }

  .service-item {
    margin: 0;
    height: auto;
    padding-bottom: 1.54rem;
  }

  .service-img {
    padding-bottom: 1rem;
  }

  .service-item span {
    font-size: 0.77rem;
  }

  .company-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .info-item {
    width: 100%;
    margin-left: 0;
  }

  .item {
    width: 100%;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }

  p {
    padding: 1rem 0.25rem 4rem 0.25rem;
    font-size: 0.77rem;
  }

  .footer-content {
    padding: 4rem 0 4rem 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer-content img {
    margin-right: 0;
    margin-left: 0;
  }

  .footer-content span {
    display: none;
  }
}
